@model NewCoreProject.Models.User

<div id="popup-overlay"></div>

<div class="modal fade" id="signUpModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content" style="width:700px;">

            <div class="modal-header border-0 pb-0">
                <h2 class="modal-title w-100 text-center" style="font-weight:700">Sign Up</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body p-4">

                <form asp-action="SignUp" asp-controller="Home" method="post">
                    @Html.AntiForgeryToken()

                    <div class="row g-3">
                        <div class="form-group col-md-6">
                            <input asp-for="Admin_Name" class="form-control" placeholder="Name" />
                            <span asp-validation-for="Admin_Name" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <input asp-for="Admin_Email" class="form-control" placeholder="Email Address" />
                            <span asp-validation-for="Admin_Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row g-3">
                        <div class="form-group col-md-6">
                            <input asp-for="Admin_Contact" class="form-control" placeholder="Phone Number" />
                            <span asp-validation-for="Admin_Contact" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <input asp-for="Admin_Address" class="form-control" placeholder="Country" />
                            <span asp-validation-for="Admin_Address" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row g-3">
                        <div class="form-group col-md-6">
                            <div class="password-wrapper">
                                <input asp-for="Admin_Password" id="signupPassword" class="form-control" type="password" placeholder="Password" />
                                <i class="fa-solid fa-eye toggle-eye" role="button" aria-label="Show password"></i>
                            </div>
                            <span asp-validation-for="Admin_Password" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-6">
                            <div class="password-wrapper">
                                <input type="password" id="signupConfirmPassword" name="passwordConfirm" class="form-control" placeholder="Re-Enter Password" />
                                <i class="fa-solid fa-eye toggle-eye" role="button" aria-label="Show password"></i>
                            </div>
                            <div class="text-danger" id="signupErrorMessage" style="display:none;">Passwords do not match</div>
                        </div>
                    </div>

                    <div class="d-grid gap-2 mt-4 col-md-6 mx-auto">
                        <button type="submit" class="btn btn-primary">Create Account</button>
                    </div>
                </form>

                <p class="text-center mt-3 mb-0">
                    Already have an account?
                    <a href="#" data-bs-toggle="modal" data-bs-target="#LoginModal" style="color:dodgerblue">LogIn</a>
                </p>

            </div>
        </div>
    </div>
</div>
