@model IEnumerable<NewCoreProject.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    th {
        white-space: nowrap;
    }

</style>
    <h1 class="user-name" style="text-align:center">Categories</h1>
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>


<div class="table-responsive" style="overflow:auto;max-height:400px;max-width:900px;width:500px">
    <table class="table table-hover" style="">
        <thead class="table-dark">
        <tr>
            <th>
              Category Name
            </th>
            <th style="width:100px">Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category_Name)
            </td>
                    <td class="gap-1" style="display:flex">
                        <a asp-action="Edit" asp-route-id="@item.Category_Id" class="btn  btn-sm btn-success" title="Edit"><i class="fa fa-edit"></i></a>
                        <a asp-action="Details" asp-route-id="@item.Category_Id" class="btn  btn-sm btn-info" title="Details"><i class="fa fa-file-alt"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.Category_Id" class="btn  btn-sm btn-danger" title="Delete"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
        </table>
    </div>